<div class="ui-g-10 ui-g-offset-1 ui-g-nopad">

    <span *ngIf="cart">
        <br> Exposant :
        <p-dropdown [options]="commercials" [(ngModel)]="selectedCommercial" (click)="dropDownValue(selectedCommercial)" optionLabel="value"
            placeholder="Selectionnez l'exposant"></p-dropdown>

        <br>
        <br>
        <br>

        <p-dataView #dv [value]="cart.listCommercialCartDto" [paginator]="true" paginatorPosition="bottom" [sortField]="sortField"
            [rows]="20">
            <p-header>
                Panier
            </p-header>
            <ng-template let-comcart pTemplate="listItem">


                <div *ngIf="com === comcart.commercial">
                    <div *ngFor="let product of comcart.listProduct">

                        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                            <div class="ui-g-3" style="text-align:center">
                                <img style="width: 100px;" src="{{product.images[0]}}">
                                <br>
                                <b>
                                    <div>
                                        Modéle : {{product.model}}
                                        <br> Brand : {{product.brandLabel}}
                                        <br> Label : {{product.label}}
                                    </div>
                                </b>
                            </div>



                            <div class="ui-g-8">
                                <div class="ui-g">
                                    <div class="ui-g-6" *ngFor="let char of product.characteristics">
                                        <b>{{char.label}} : {{char.value.value}} {{char.unit}}</b>
                                        <br>
                                    </div>
                                </div>
                            </div>




                            <td style="text-align: center">
                                <button type="button" pButton (click)="deleteProduct(product.brandLabel,product.model)" icon="fa fa-trash-o fa-2x" class="ui-button-danger"
                                    style="width: 50px;height : 50px;"></button>
                            </td>

                        </div>
                    </div>
                </div>


                <!---------------------------------------------------------------------------------------------------------------------------->


                <!-- <div *ngIf="!com">
        <div *ngFor="let product of comcart.listProduct">

          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-3" style="text-align:center">
              <img style="width: 100px;" src="{{product.images[0]}}">
              <br>
              <b>
                <div>
                    Modéle : {{product.model}}
                    <br> Brand : {{product.brandLabel}}
                    <br> Label : {{product.label}}
                </div>
              </b>
            </div>



            <div class="ui-g-8">
              <div class="ui-g">
                <div *ngFor="let char of product.characteristics">

                  <b>{{char.label}} : {{char.value.value}} {{char.unit}}</b>
                  <br>

                </div>
              </div>
            </div>




            <td style="text-align: center">
              <button type="button" pButton (click)="deleteProduct(product.brandLabel,product.model)" icon="fa fa-trash-o fa-2x" class="ui-button-danger"
                style="width: 50px;height : 50px;"></button>
            </td>
          </div>
        </div>
      </div>-->
            </ng-template>


        </p-dataView>


        <br>


        <button pButton type="button" (click)="createQuoteFromCommercialCart(com)" [disabled]="!com" label="Demander un devis à l'exposant"></button>


    </span>
</div>