<h1  >List of articles : </h1>
<br>
<ul>
	<li *ngFor="let article of articles">Label : {{ article.label }}
		Price : {{ article.price }} Quantity : {{ article.quantity }}
		Description : {{ article.description }}</li>
</ul>

<h1  >NG Prime Integration : </h1>
<p-accordion>
    <p-accordionTab header="Header 1">
       Content 1
    </p-accordionTab>
    <p-accordionTab header="Header 2">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Header 3">
        Content 3    
    </p-accordionTab>
</p-accordion>

<h1 >JWT integration : </h1>


<h1  translate>PRODUCT</h1>
<h1  translate>LAST_PRODUCT</h1>




