<!--div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents image1"><i class="slider__image"></i>
        <div class="container_text">
          <h2 class="slider__caption">Resultat en quelques minutes</h2>
          <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
        </div>
      </div>
      <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
        <h2 class="slider__caption">newspaper-o</h2>
        <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
      </div>
      <div class="slider__contents"><i class="slider__image fa fa-television"></i>
        <h2 class="slider__caption">television</h2>
        <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
      </div>
      <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
        <h2 class="slider__caption">diamond</h2>
        <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
      </div>
    </div>
  </div-->

<section id="banner" style="margin-top: -40px">
    <div class="inner">
        <h1>Linker</h1>
        <p>Commencez à construire vos grands projets ici</p>
        <app-search-bar></app-search-bar>
        <br>
        <a style="cursor: pointer; margin-top: 10px;" (click)="scrollTo('category')">
            <span style="font-size: 2em; display: block;">Découvrir notre catalogue</span>
            <i style="display: block;" class="fa fa-angle-double-down fa-3x"></i>
        </a>
    </div>
    <!--video autoplay loop muted playsinline src="assets/images/template/banner.mov"></video-->
</section>